/* CSS Mini Reset */

html, body, div, form, fieldset, legend, label {
  margin: 0;
  padding: 0; 
}

h1, h2, h3, h4, h5, h6, th, td, caption { font-weight: normal; }

img { border: 0; }

body: {
  line-height: 0;
  margin: 0;
  font-size: 0;
  letter-spacing: -1;
}


#map {
  display: inline-block;
  width: 80%;
}

#projects {
  vertical-align: top;
  display: inline-block;
  width: 20%;
}

#projects ul {
  margin: 0;
  padding-left: 20px;
  list-style-type: none;
}

#projects .projects-title {
  width: 250px;
}

#projects .projects-title h1 {
  display: inline;
  margin: 0;
}

#projects .projects-title button {
  display: inline;
  margin-left: 20px;
  position: relative;
  top: -5px;
}

#projects li {
  font-size: 18px;
}

#classifiers {
  vertical-align: bottom;
}

.classifiers-view {
  display: flex;
  width: 100%;
  overflow: hidden;
  padding: 0;
  max-height: 265px;
}

.classifier-view-item {
  background-color: grey;
  display: inline-block;
  flex-grow: 1;
  overflow: auto;
  float: left;
}

.classifier-view-item h2 {
  font-size: 16px;
  height: 40px;
}

.classifier-view-item img {
  width: 100%;
}
