/* CSS Mini Reset */

html, body, div, form, fieldset, legend, label {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, th, td, caption { font-weight: normal; }

img { border: 0; }

body {
    font-family: 'Open Sans', Arial, sans-serif;
    background: #EAF1F2;
    color: #555A74;
    overflow: hidden;
}
.flex {
    display: flex;
    flex-wrap: wrap;
}

.main-header {
    position: absolute;
    top: 10px;
    left: 10px;
}

.main-header button, .projects button {
    background: none;
    outline: none;
    border-radius: 5px;
    border: none;
    color: #555A74;
    padding: 0;
    margin: 10px;
    font-size: 12px;
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    cursor: pointer;
}

.main-header button:hover {
    text-decoration: underline;
    cursor: pointer;
}

.main-header img {
    margin-right: 10px;
    vertical-align: sub;
}

.main-header h1 {
    color: rgb(51, 76, 122);
    font-weight: 600;
    margin: 0;
    display: inline;
}

.main-header h1 > span:last-child {
    color: #FC4541;
    font-style: italic;
}


#map {
    width: 100%;
}

.world-map {
    width: 100%;
    min-width: 300px;
    max-height: 100vh;
    background: #EAF1F2;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;

}

.world-map.small {
    max-height: 80vh;
}

.country path {
  fill: #C0C0C0;
  stroke: none;
}

.projects {
  vertical-align: top;
  display: inline-block;
  min-width: 200px;
  max-width: 20%;
  height: 50vh;
  width: 220px;
  background: rgba(192, 192, 192, 0.4);
  padding: 5px;
  box-sizing: border-box;
  overflow-y: scroll;
  position: absolute;
  top: 15px;
  right: 15px;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.projects.hidden {
    right: -220px;
}

.projects ul {
  margin: 0;
  padding-left: 20px;
  list-style-type: none;
}

.projects .projects-title h1 {
  display: inline;
  margin: 0;
}

.projects .editor {
  display: none;
}

.projects .editor label {
    display: block;
    font-size: 0.8em;
}

.projects .edit .editor {
  display: block;
}

.projects .projects-title button {
  display: inline;
  margin-left: 20px;
  position: relative;
  top: -5px;
}

.projects li {
  font-size: 18px;
}

.projects .projects-title .close-button {
    position: absolute;
    top: 2px;
    right: 5px;
    color: #555A74;
    font-size: 24px;
}


.classifiers {
    overflow-x: hidden;
    position: absolute;
    top: calc(80vh - 10px);
    min-width: 800px;
    left: 50%;
    transform: translate(-50%);
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

.classifiers.hidden {
    top: 100%;
}

.classifiers h2 {
  color: white;
  text-align: center;
  margin: 0;
}

.classifiers .classification {
  border: 3px solid;
  box-sizing: border-box;
}


.classifiers-view {
  position: relative;
  left: -3%;
  width: 110%;
  display: flex;
  overflow: hidden;
  padding: 0;
  max-height: 265px;
  line-height: 0;
  margin: 0;
  font-size: 0;
  letter-spacing: -1;
}

.classifier-view-item {
  background-color: grey;
  overflow: auto;
  display: inline-block;
  width: 14%;
}

.classifier-view-item h2 {
  font-size: 16px;
  padding: 10px;
}

.classifier-view-item img {
  width: 100%;
}

@media screen and (max-width: 800px) {
    /* hide icon text, too crowded for it*/
    .classifier-view-item h2 {
        display: none;
    }

    .projects {
        top: auto;
        bottom: calc(20vh + 15px);
    }

    .world-map {
        margin-top: 20vh;
    }
}
